{% extends 'base.html.twig' %}

{% block title %}Mon compte - Gestion des images
{% endblock %}

{% block body %}

	<h1 class="h3 mb-3 font-weight-bold">Mes photos</h1>

	{{ form_start(formUpload) }}
	{{ form_rest(formUpload) }}
	<button class="btn btn-primary">Envoyer</button>
	{{ form_end(formUpload) }}


{% endblock %}
