{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
<h1>Accueil</h1>
	<ul>
		{% for categorie in categories %}
			<li>
            {# path contient le nom de la route vers laquelle nous souhaitons nous rediriger #}
				<a href="{{ path('pictures_by_category', { id: categorie.id }) }}">{{ categorie.name }}</a>
			</li>
		{% endfor %}
	</ul>

    {# image #}
	{# equivalent de foreach mais inversé #}
	{% for picture in pictures %}
	<a href="{{ path('show_picture', { id: picture.id }) }}">
		<img src="{{ asset('uploads/images/photos/'~picture.image) | imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
		</a>
	{% endfor %}

	{{ knp_pagination_render(pictures) }}

{% endblock %}
