{% extends 'base.html.twig' %}

{% block title %}Les photos de la catégorie "{{ category.name }}" {% endblock %}

{% block body  %}
{# Pas besoin de boucle "for" si vous sélectionner un seul enregistrement en BDD, un peu comme fetch() en PDO  #}
<h1>Catégorie "{{category.name}}"</h1>

{% for picture in category.pictures %}
<a href="{{ path('show_picture', { id: picture.id }) }}">
<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
</a>
{% endfor %}

<h1><a href="/">Retourner à la page d'accueil</a></h1>

{{ knp_pagination_render(pictures) }}
{% endblock %}

