{% extends 'base.html.twig' %}

{% block title %}Apercu de la photo
{% endblock %}

{% block body  %}

	<div class="zoom">
		<h1>Apercu de la photo</h1>


		<a href="{{ asset('uploads/images/photos/'~picture.image) }}">
			<img src="{{ asset('uploads/images/photos/'~picture.image) | imagine_filter('medium')}}" alt="{{ picture.image }}">
		</a>

		<p>{{ picture.description }}</p>
        <p>Catégorie : {{ picture.category.name }}</p>
		<small class="text-muted">{{ picture.tags }}</small>
	</div>

	<hr>

	{# 
        "picture" correspond aux infos de notre image, à partir de cette image, nous allons chercher
        la catégorie reliée à l'image "picture.category" et à partir de cette catégorie, nous avons la
        possibilité de récupérer toutes les images liées à cette même catégorie "picture.category.pictures"
    #}
    <div>
        {% for photo in photos %}
        {# 
        !== s'écrit en Twig : is not same as()
         #}

        {% if photo.image is not same as(picture.image) %}
            
                <a href="{{ path('show_picture', { id: photo.id }) }}">
        
                    <img src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}"></a>
                {% endif %}
        {% endfor %}
    </div>
    

	<h1>
		<a href="/">Retourner à la page d'accueil</a>
	</h1>

    {{ knp_pagination_render(photos) }}
{% endblock %}
