{% extends 'base.html.twig' %}

{% block title %}Inscripion{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Ouvrir un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}

        <div class="mb-3">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            <small class="text-danger">
                {{ form_errors(registrationForm.email) }}
            </small>
        </div>
        
        <div class="row">
            <div class="col">
                {{ form_row(registrationForm.plainPassword.first) }}
            </div>
            <div class="col">
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
        </div>

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(registrationForm) }}
{% endblock %}
