.look{
    background-color: burlywood;
    height: 5em;
    display: flex;
    
}

.look .cat .categorie a{
  list-style: none ;
  display: inline ;
  justify-content: center ;  
  
}

.look .categorie{
    display: inline-block ;
    margin-left: 3em ;
    font-size: 1.5em ;
    
}

.look .categorie a{
    color:white;
    text-decoration: none;
}

.look .cat{
    margin-top: 1% ;
}

img{
    height: 25%;
    width: 25%;
   margin: 30px;
  
}

body{
    background-color: darkgrey;
}

.zoom{
    padding-left: 50px;
}

nav ul li{
    list-style: none ;
  display: inline ;
  justify-content: center ;  
}

nav li{
    display: inline-block ;
    margin-left: 3em ;
    font-size: 1.5em ;
}
 