{% extends 'base.html.twig' %}

{% block title %}Administration - Nouvelle Catégorie
{% endblock %}

{% block body %}

	<h1 class="h3 mb-3 font-weight-bold">Mes photos</h1>

	{{ form_start(formNewCategory) }}
	{{ form_rest(formNewCategory) }}
	<button class="btn btn-primary">enregistrer</button>
	{{ form_end(formNewCategory) }}


{% endblock %}
