<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
								           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}

			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

			<link rel="stylesheet" href="{{asset('css/normalize.css')}}">

			<link href="{{asset('css/styleBase.css')}}" rel="stylesheet" !important>

		{% endblock %}
{% block javascripts %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

{% endblock %}

	</head>
	<body>
		<nav class="look">
        <h1>LookImage</h1>
			<ul class="cat">
				{% if app.user is null %}
				<li class="categorie"> <a href="{{path('app_register')}}">inscripion</a></li>
                <li class="categorie"> <a href="{{path('app_login')}}">connection</a></li>
				{% else %}
				<li class="firstname">
					bonjour {{ app.user.firstname }}
					</li>

					<li class="firstname">
					<a href="{{path('app_logout')}}">déconnection</a></li>
					</li>
				{% endif %}
			</ul>
		</nav>

		{% block body %}{% endblock %}
	</body>
</html></div></body></html> 
